body 
	{background: red;
	font-family: futura;}
/* Navigation */
a {
	font-size: 20px;
	color: white;
	text-decoration: none;
}
/* Containers */
img {
	width: 300px;
}
#leftcolumn {
	background: black;
	float: left;
	width: 400px;}
#rightcolumn {
	background: blue;
	float: left;
	width: 400px;}
.round {
	border-radius: 20px;
}
.shadow {
	box-shadow: 10px: 10px: 10px: black;
}