body {
	background: black;
	font-family: 'Futura', sans-serif;
}
/* Navigation */
a {
	font-size: 1.25em;
	color: white;
	text-decoration: none;
}
/* Containers */
img {
	width: 300px;
}
#leftcolumn {
	background: #a61412;
	float: left;
	width: 400px;
	display: block;
}
#rightcolumn {
	background: #a61412;
	float: left;
	width: 400px;
	display: block;
}
.round {
	border-radius: 20px;
	margin: 20px;
}
